body{
    background: 
    linear-gradient(135deg, #fdffb6 21px, #7400b8 22px, #7400b8 24px, transparent 24px, transparent 67px, #7400b8 67px, #7400b8 69px, transparent 69px),
    linear-gradient(225deg, #fdffb6 21px, #7400b8 22px, #7400b8 24px, transparent 24px, transparent 67px, #7400b8 67px, #7400b8 69px, transparent 69px) 0 64px;
    background-color:#fdffb6;
    background-size:64px 128px ;
}